{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.0"}
           org.clojure/core.async {:mvn/version "1.6.681"}
           org.clojure/core.memoize {:mvn/version "1.1.266"}
           org.clojure/tools.cli {:mvn/version "1.1.230"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts   ["-m" "kaocha.runner"]}
           ;; Test coverage
           :coverage {:extra-paths ["test"]
                      :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
                      :main-opts  ["-m" "cloverage.coverage"
                                   "--src-ns-path" "src"
                                   "--test-ns-path" "test"
                                   "--ns-regex" "jmshelby.monopoly.*"
                                   "--ns-exclude-regex" ".*test.*|.*simulation.*|.*analysis.*"
                                   "--codecov"
                                   "--html"
                                   "--lcov"
                                   "--summary"
                                   "--fail-threshold" "0"
                                   "--low-watermark" "0"]}
           ;; Simulation alias
           :sim {:main-opts ["-m" "jmshelby.monopoly.simulation.cli"]}}}
